<div class="list-group mb-2">
    <div class="flex-column align-items-start">
        <div class="d-flex w-100">
            <strong>{{ method.name }}</strong>
        </div>
        {% if method.description is not null %}
            <p class="mb-1">{{ method.description }}</p>
        {% endif %}
    </div>
</div>
