{% import "@SyliusShop/Common/Macro/icons.html.twig" as icons %}

{% set marginClass = 'mt-3' %}
{% set paddingClass = '' %}
{% if isItem is defined %}
    {% set marginClass = '' %}
    {% set paddingClass = 'p-2 px-3' %}
{% endif %}

<div class="col-12 p-0 has-product-out-of-stock {{ marginClass}}">
    <div class="alert alert-danger {{ paddingClass }}">
        <div class="d-flex align-items-center">
            <span class="pr-3 fa-2x">{{ icons.danger() }}</span>
            <div>
                {{ message|trans }}
            </div>
        </div>
    </div>
</div>
