{% if app.user is not empty and app.user.customer is not empty and app.user.customer.addresses|length > 0 %}
    <div id="carouselAddressList" class="choose-address">
        {% for address in app.user.customer.addresses %}
            <div class="col choose-address-item">
                {% include '@SyliusShop/Checkout/Address/Book/_item.html.twig' %}
            </div>
        {% endfor %}
    </div>
    <div class="slider-controls mt-3"></div>
{% endif %}
