<div class="row mt-4 save-address-navigation d-none">
    <div class="col-auto order-2 order-sm-1">
        <a class="btn btn-link">
            {{ 'sylius.ui.cancel'|trans }}
        </a>
    </div>
    <div class="d-flex col-auto save-buttons px-3 px-lg-0 mb-2 order-1 order-sm-2">
        <div class="mb-3">
            {% include '@SyliusShop/Checkout/Address/Save/saveInCheckout.html.twig' with {'form': formSaveCheckout} %}
        </div>
        <div class="col-auto px-0 px-lg-3">
            {% include '@SyliusShop/Checkout/Address/Save/saveInAccount.html.twig' with {'form': formSaveAccount} %}
        </div>
    </div>
</div>
