<div class="row col-12 col-lg-11 col-xxl-9 mx-auto save-checkout-address-navigation px-0 px-xl-3 {% if not haveAddresses %}d-none{% endif %}">
    <div class="col d-flex align-items-center px-3">
        <a href="{{ path('sylius_shop_homepage') }}" class="btn btn-link">
            {{ 'sylius.ui.back_to_store'|trans }}
        </a>
        <a class="btn btn-link cancel-change-address">
            {{ 'sylius.ui.cancel'|trans }}
        </a>
    </div>
    <div class="col-auto p-0">
        <button type="submit" class="btn btn-primary">
            {{ 'sylius.ui.next'|trans }}
        </button>
    </div>
</div>
