<div class="row mt-2 save-checkout-address-navigation">
    <div class="col">
        <a href="{{ path('sylius_shop_homepage') }}" class="btn btn-link px-0 px-md-3">
            {{ 'sylius.ui.back_to_store'|trans }}
        </a>
        <a class="btn btn-link cancel-change-address">
            {{ 'sylius.ui.cancel'|trans }}
        </a>
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary">
            {{ 'sylius.ui.next'|trans }}
        </button>
    </div>
</div>
