<footer id="footerContainer" class="row footer-banner">
    {{ sonata_block_render_event('sylius.shop.layout.before_footer') }}
    <div class="container">
        <div class="row d-flex">
            <div class="col-12 col-sm text-center text-sm-left align-self-center pt-2 pt-sm-0">
                <a class="banner-link" href="#">{{ 'sylius.ui.terms_and_conditions'|trans }}</a>
            </div>

            <div class="col-12 col-sm-auto mx-auto text-sm-left justify-content-center align-self-center d-flex pb-1 pb-sm-0">
                <div class="social-media-icons d-inline-block">
                    <a class="banner-link" href="https://facebook.com"><i class="fab fa-facebook-square footer-icon"></i></a>
                    <a class="banner-link" href="https://instagram.com"><i class="fab fa-instagram footer-icon"></i></a>
                </div>
                
                <div class="px-1 align-self-center">|</div>
                <div class="align-self-center">&copy; Nobless Store</div>
            </div>
        </div>
    </div>

    {{ sonata_block_render_event('sylius.shop.layout.after_footer') }}
</footer>
