
<footer id="footerContainer" class="bg-footer">
    {{ sonata_block_render_event('sylius.shop.layout.before_footer') }}
    <div class="footer-banner">
        <div class="container-fluid">
            <div class="row d-flex justify-content-end">
                <div class="col-12 col-sm-auto justify-content-center d-flex pb-1 pb-sm-0">
                    <div class="social-media-icons d-inline-block">
                        <a class="banner-link" href="https://facebook.com"><i class="fab fa-facebook-square footer-icon"></i></a>
                        <a class="banner-link" href="https://instagram.com"><i class="fab fa-instagram footer-icon"></i></a>
                    </div>
                    
                    <div class="px-1 align-self-center">|</div>
                    <div class="align-self-center">&copy; Noblezz</div>
                </div>
            </div>
        </div>
    </div>

    {{ sonata_block_render_event('sylius.shop.layout.after_footer') }}
</footer>
