<div class="variants-container d-flex d-sm-none flex-xs-row">
    {% for variant in productVariants %}
        {% for option in variant.optionValues %}
            <span class="m-1 option-value">
                {{ option.code }}
                {% if variant.onHand == 0 %}
                    <span class="out-of-stock {{ option.code|lower }}"></span>
                {% endif %}
            </span>
        {% endfor %}
    {% endfor %}
</div>

<div class="variants-container d-none d-sm-flex flex-sm-column">
    {% for variant in productVariants %}
        {% for option in variant.optionValues %}
            <span class="m-1 option-value">
                {{ option.code|upper }}
                {% if variant.onHand == 0 %}
                    <span class="out-of-stock {{ option.code|lower }}"></span>
                {% endif %}
            </span>
        {% endfor %}
    {% endfor %}
</div>