{% if product.imagesByType('thumbnail') is not empty %}
    {% set path = product.imagesByType('thumbnail').first.path|imagine_filter(filter|default('sylius_shop_product_thumbnail')) %}
{% elseif product.images.first %}
    {% set path = product.images.first.path|imagine_filter(filter|default('sylius_shop_product_thumbnail')) %}
{% else %}
    {% set path = '//placehold.it/200x200' %}
{% endif %}

<a href="{{ path('sylius_shop_product_show', {'slug': product.slug, '_locale': product.translation.locale}) }}">
    <img src="{{ path }}" alt="{{ product.name }}" {% if class is defined %}class="{{ class }}"{% endif %} />
</a>

{% if product.variants|length > 1 %}
    {% include '@SyliusShop/Product/_boxVariant.html.twig' with {'productVariants': product.variants} %}
{% endif %}
