{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    
<div class="row mx-3">
    <div class="col-12">
        {% include '@SyliusShop/Product/Index/_main.html.twig' %}
    </div>
</div>

{% endblock %}
