{% extends '@SyliusShop/layout.html.twig' %}

{% block title %}
    {{ render(url('sylius_shop_partial_taxon_show_by_slug', {
        'slug': app.request.attributes.get('slug'),
        'template': '@SyliusShop/Taxon/_title.html.twig'
    })) }} | {{ parent() }}
{% endblock %}

{% block content %}

<div id="taxonIndex" class="row m-0">
    {% include '@SyliusShop/Product/Index/_header.html.twig' %}
    <div class="col-12 col-lg-10 mx-auto">
        {% include '@SyliusShop/Product/Index/_main.html.twig' %}
    </div>
</div>

{% endblock %}
