<td colspan="6">
    <div class="collapse col-10 col-lg-9 mx-auto" id="collapse-{{ row.id }}" data-parent="#orderAccordionDesktop">
        {% include '@SyliusShop/Account/Order/Details/_summary.html.twig' %}
    </div>
</td>

