{% if form.bonusPoints is defined %}
    <div id="bitbag-bonus-points">
        <div>
            <div class="coupon-input input-group mb-2 mr-sm-2">
                {{ form_widget(form.bonusPoints, {'attr': {'placeholder': 'bitbag_sylius_bonus_points.ui.use_bonus_points'|trans}}) }}
                {{ form_errors(form.bonusPoints) }}
                <div class="input-group-append">
                    <button class="btn input-group-text bonus-points-btn">Go</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}
