{% extends 'knp_menu.html.twig' %}

{% block root %}
    {% for item in item.children if item.name != 'dashboard' %}
        <a href="{{ item.uri }}">{{ item.label|trans }}</a>
    {% endfor %}
{% endblock %}
