<div class="mb-5 m-2">
    <div id="carouselLatestBundles" class="m-0">
        {% for index, product in bundles %}
            <div class="col">
                {% include '@SyliusShop/Product/_box.html.twig' %}
            </div>
        {% endfor %}
    </div>
    <div class="row justify-content-center slider-controls mt-4"></div>
</div>
