<div class="modal-content success p-3">
    <div class="modal-header d-flex flex-column">
        <div class="row col-12">
            <h4 class="modal-title col-10">{{ 'sylius.user.reset_password_request_ok'|trans }}</h4>
            <button type="button" class="close col-2 p-0 text-right" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <div class="modal-body pt-0">
        <div class="col-12 px-3 mb-5 password-request-success">
            {{ 'sylius.user.reset_password_request'|trans }}
        </div>
        <div class="col-12">
            <h6>{{ 'sylius.user.reset_password_not_received_title'|trans }}</h6>
            <span>
                {{ 'sylius.user.reset_password_not_received'|trans }}
            </span>
        </div>
    </div>
</div>