<div class="tab-pane active" id="nav-details">
    {% include '@SyliusShop/Product/Show/Tabs/_details.html.twig' %}
</div>
<div class="tab-pane" id="nav-composition">
    {% include '@SyliusShop/Product/Show/Tabs/_composition.html.twig' %}
</div>

