<a class="nav-item nav-link active mr-2" href="#nav-details" data-toggle="tab">{{ 'sylius.ui.details'|trans }}</a>

<a class="nav-item nav-link" href="#nav-composition" data-toggle="tab">{{ 'sylius.ui.composition'|trans }}</a>




