<table class="table table-details">
    <thead>
        {% include '@SyliusShop/Account/Order/Details/Table/_headers.html.twig' %}
    </thead>
    <tbody>
        {% include '@SyliusShop/Account/Order/Details/Table/_items.html.twig' %}
    </tbody>
    <tfoot class="text-right">
        {% include '@SyliusShop/Account/Order/Details/Table/_totals.html.twig' %}
    </tfoot>
</table>
