{% set path = options.link.url|default(path(options.link.route|default(grid.requestConfiguration.getRouteName('show')), options.link.parameters|default({'id': data.id}))) %}

<a class="btn btn-outline-primary" data-toggle="collapse" href="#collapse-{{ data.id }}">{{ action.label|trans }}</a>
