{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

{% for item in items %}
    {% set variant = item.productVariant %}
    {% set product = variant.product %}

    <div>
        <div>
            <span>{{ product.name }}</span>
            <div class="row">
                <span class="col ml-3">
                    {% if product.hasOptions() %}
                        {% for optionValue in variant.optionValues %}
                            {{ optionValue.value }}
                        {% endfor %}
                    {% elseif variant.name is not null %}
                        {{ variant.name }}
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
{% endfor %}
