@import '~slick-carousel/slick/slick';
@import '~slick-carousel/slick/slick-theme';

@import '../../../BootstrapTheme/assets/scss/variables';
@import './variables';

@import "~bootstrap/scss/bootstrap";

// Custom theme styles
@import "../../../BootstrapTheme/assets/scss/steps";
@import "../../../BootstrapTheme/assets/scss/custom";

// Third party components
@import '~semantic-ui-css/components/flag.min.css';
@import '~glightbox/dist/css/glightbox.min.css';
@import '../fresco/css/fresco.css';
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.eot');
    src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/OpenSans-Regular.woff') format('woff'),
        url('../fonts/OpenSans-Regular.ttf') format('truetype'),
        url('../fonts/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
}

@font-face {
    font-family: 'Bookman';
    src: url('../fonts/BookmanOldStyle.eot');
    src: url('../fonts/BookmanOldStyle.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BookmanOldStyle.woff2') format('woff2'),
        url('../fonts/BookmanOldStyle.woff') format('woff'),
        url('../fonts/BookmanOldStyle.ttf') format('truetype'),
        url('../fonts/BookmanOldStyle.svg#BookmanOldStyle') format('svg');
}

/*========*/
/* COMMON */
/*========*/
body {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    scrollbar-color: #271513 #ffffff;
    background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    width: 11px;
}
::-webkit-scrollbar-track {
    background: #ffffff;
}
::-webkit-scrollbar-thumb {
    background: #271513;
}

.default-color {
    color: #271513;
}

.dropdown.btn-group {
    &:focus, &:active, &:hover {
        outline: none;
    }
}

.dropdown-menu {
    border-radius: 0;
    .navbar-collapse {
        align-items: flex-start;
    }
}

.btn {
    border-radius: 0;
    &.btn-link {
        color: #271513;
        &:hover {
            text-decoration: underline;
            color: #271513;
        }
    }
    &.btn-primary {
        background-color: #271513;
        color: #ffffff;
        border-color: #271513;
        &:hover, &:active, &:focus {
            background-color: #271513!important;
            border-color: #271513!important;
            box-shadow: none!important;
        }
    }
    &.btn-outline-primary {
        color: #271513;
        border-color: #271513;
        &:hover, &:active, &:focus {
            background-color: #271513!important;
            border-color: #271513!important;
            box-shadow: none!important;
            color: #ffffff;
        }
    }
    &:focus,
    &.focus {
        box-shadow: 0 0 0 0.2rem rgba(39, 21, 41, 0.25);
    }
}

.form-control {
    border-radius: 0;
    &:focus {
        border: none;
        box-shadow: 0 0 0 0.2rem rgba(39, 21, 41, 0.25);
    }
}

div.alert {
    border: none;
    border-radius: 0;
    padding: 1rem;
    margin: 0;
    &.alert-success {
        background: none;
    }
    &.alert-dismissible {
        .close {
            position: initial;
            padding: 1rem;
        }
    }
}

a {
    color: #271513;;
    &:hover {
        text-decoration: underline;
        color: #271513;
    }
}

.tight-text {
    line-height: 1rem;
}

/*===============*/
/* COMMON DESIGN */
/*===============*/
/*.d-md-none .log-link {
    color: inherit;
    &:hover {
        text-decoration: underline;
        color: #271513;
    }
}
.d-md-block .log-link {
    color: #ffffff;
    &:hover {
        text-decoration: underline;
        color: #ffffff;
    }
}*/

.title-separator {
    border: 2px solid #271513;
    width: 70px;
}

/*=================*/
/* HEADER / FOOTER */
/*=================*/
.bg-header {
    background-color: #ffffff;
}

.header-banner {
    height: 25px;
    background-color: #271513;

    a.banner-link, button.banner-link {
        color: #ffffff;
    }
}

header {
    .logo {
        width: 220px;
        padding: 0.5rem 0;
    }

    .header-links {
        a {
            &::after {
                content: none;
            }
            /* MENU BUTTON */
            &#menuButtonMain {
                color: #271513;
                font-size: 1.3rem;
                font-family: "Open Sans", "Roboto", sans-serif;
                padding-bottom: 20px;
                .open {
                    span {
                        &.d-block {
                            &:hover, &:active, &:focus {
                                text-decoration: none;
                            }
                        }
                    }
                }
                &:hover {
                    cursor: pointer;
                }
                .close {
                    float: left;
                    font-size: 1.5rem;
                    font-weight: normal;
                }
            }
            &.btn-close {
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .header-link {
            color: #271513;
            font-size: 1rem;
            font-family: "Open Sans", "Roboto", sans-serif;
            margin-right: 1rem;
            &.archives {
                margin-top: 3px;
            }
            &:hover {
                text-decoration: underline;
            }
            .d-none {
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
    /* MEGAMENU DROPDOWN */
    #megamenuDropdown {
        #menuButton {
            &::after {
                content: none;
            }
        }
        .megamenu {
            .bookman-title {
                font-family: "Bookman", "Open Sans", sans-serif;
                color: #271513;
            }
            a {
                &.nav-link {
                    text-transform: initial;
                }
            }
            .menu-images {
                div {
                    &.menu-img {
                        display: none;
                        &.active {
                            display: block;
                        }
                    }
                    &.menu-img-look {
                        margin: 0;
                    }

                }
            }
        }
        .offcanvas-header{
            display:none;
        }
    }
    .navbar {
        &.h-100 {
            align-items: start;
        }
        a {
            &.nav-link {
                padding: 0;
            }
            &.nav-item {
                font-size: 1.1rem;
                color: #271513;
                font-family: "Open Sans", "Roboto", sans-serif;
                &:hover {
                    text-decoration: underline;
                    color: #271513;
                }
            }
        }
        #navbarLocale {
            display: none;
        }
    }

    .navbar-light {
        width: 100%;
    }

    /* OVERLAY WHEN MENU IS OPEN ON MOBILE */
    .screen-overlay,
    .screen-overlay-cart {
        height: 100%;
        z-index: 30;
        position: fixed;
        top: 0;
        left: 0;
        opacity:0;
        visibility:hidden;
        background-color: rgba(34, 34, 34, 0.6);
        transition:opacity .2s linear, visibility .1s, width 1s ease-in;
        &.show {
            transition:opacity .5s ease, width 0s;
            opacity:1;
            width:100%;
            visibility:visible;
        }
    }

    /*h1.title {
        font-family: "Open Sans", "Roboto", sans-serif;
        font-size: 3em;
        a {
            color: #000000;
            text-decoration: none;
            &:hover {
                text-decoration: none;
            }
        }
    }*/

    /* ICONS ON THE RIGHT SIDE OF THE HEADER */
    .menu-icones {
        .dropdown {
            margin: 0 0.5rem;
            padding: 0.5rem 0;
        }
        img.icon {
            width: 22px;
            height: 22px;
        }

        .header-dropdown {
            visibility: hidden;
            border-radius:0;
            display: block;
            position: fixed !important;
            transform: none !important;
            top: 52px !important;
            right: -1px !important;
            left: unset !important;
            max-height: 600px;
            z-index: 99999;
            width:450px;
            overflow-x: hidden;
            overflow-y: hidden;
            background-color: white;
            color: #271529;
            border: none;
            border-radius: 0;
            padding: 0.5rem 2rem;
            &.show {
                visibility: visible;
            }
            h5, h6 {
                border-bottom: 1px solid lightgrey;
                &.no-border {
                    border: none;
                }
            }
            .item-title {
                text-transform: uppercase;
                font-weight: bolder;
                word-break: break-word;
                &.size-up {
                    font-size: 0.8rem;
                    line-height: 1rem;

                }
            }
            .media-body {
                height: 150px;
                span {
                    font-size: 0.8rem;
                }
            }
            .dropdown-item {
                &:hover {
                    text-decoration: underline;
                    background: none;
                }
            }
            #headerAccountLinks {
                .nav-link {
                    padding: 0.5rem 1rem;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            #headerCartItems {
                overflow-y: auto;
                max-height: 450px;
            }
            .w-100 {
                bottom: 0;
                background-color: #ffffff;
            }
        }

        .dropdown-toggle {
            &::after {
                content: none;
            }
            &.dropdown-icon {
                color: #271529;
                text-align: center;
                &:focus, &:active, &:hover {
                    outline: none;
                }
            }
            .cart-count {
                position: absolute;
                color: #271513;
                font-size: 0.7rem;
                width: 22px;
                height: 22px;
                top: 3px;
                left: 0;
            }
        }
    }

    /* FLAG DESIGN */
    .f32 {
        i.flag:not(.icon) {
            width: 32px;
            height: 32px;
            &::before {
                background: none !important;
            }
        }
    }

    #headerLogin {
        input[type=checkbox]:checked {
            background-color: #000;
        }
        div {
            &.form-group {
                margin-bottom: 0.5rem;
            }
            &.remember-checkbox {
                .form-group {
                    margin: 0;
                    label {
                        font-size: 0.8rem;
                    }
                }
            }
            &.forgotten-password {
                a {
                    font-size: 0.8rem;
                    &.btn-link {
                        padding: 0;
                    }
                }
            }
        }
    }
}

/*
div.dropdown-menu {
    .card-body,
    .card-body a {
       color: #271513;
    }
    .dropdown-item, .dropdown-item:active {
        &.active, &:active {
            background-color: #f8f9fa;
            color: #271513;
        }
    }
}*/

#footerContainer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #ffffff;
    .footer-banner {
        background-color: #271513;

        a.banner-link, button.banner-link {
            color: #ffffff;
        }
    }

    .social-media-icons {
        padding-top: 3px;
        .footer-icon {
            font-size: 1.4rem;
        }
    }
}

#footerInfos {
    font-family: 'Roboto', sans-serif;
    h5 {
        font-family: "Open Sans", "Roboto", sans-serif;
        margin-bottom: 15px;
        &.is-underline {
            border-bottom: 1px solid #271513;
        }
    }
    label {
        color: #271513;
        font-size: 0.8rem;
    }
    .input-group {
        width: 75%;
        .form-control {
            &:focus {
                box-shadow: none;
                border: 1px solid #ced4da;
                border-right: none;
            }
        }
    }
    .row.footer-legal {
        border-top: solid 1px #c3c3c3;
        border-bottom: solid 1px #c3c3c3;
        .flex-row {
            .icon-footer {
                width: 64px;
                height: 64px;
            }
        }
    }
    .row.footer-links {
        .payment-mode, .delivery-mode {
            margin-bottom: 15px;
            img {
                height: 40px;
                margin: 0 10px;
            }
        }
        .delivery-mode {
            img {
                height: 48px;
                margin: 0 10px;
            }
        }
    }
    #footerLinksCollapse {
        .svg-inline--fa {
            width: 0.7rem;
        }
        ul {
            list-style: none;
            padding: 0;
        }
        .nav-link {
            border-width: 1px;
        }
    }
}

/*==============*/
/* MAIN CONTENT */
/*==============*/
div#mainContentContainer {
    background-color: #ffffff;
    overflow-x: hidden;
    overflow-y: auto;
    & > h1 {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    nav .breadcrumb {
        margin-top: 1rem !important;
    }

}

/*================*/
/* PRODUCT DESIGN */
/*================*/
#product-info {
    #product-sticky {
        margin-top: 20px;
        &.sticky-top-custom {
            position: sticky;
            position: -webkit-sticky;
            top: 20px;
        }
    }
    h1 {
        font-family: "Open Sans", "Roboto", sans-serif;
    }
    .original-price {
        opacity: 0.5;
        position: relative;
        span {
            width: 120%;
            position: absolute;
            height: 1px;
            border: 1px solid grey;
            top: 11px;
            left: -7px;
        }
    }
    .share-dropdown {
        .fa-share-square {
            font-size: 20px;
            opacity: 0.4;
        }
        &::after {
            content: none;
        }
    }
    .share-icons {
        &.dropdown-item {
            padding: 0;
        }
        a {
            margin: 0 8px;
            font-size: 20px;
            &:hover {
                cursor:pointer;
            }
            &.icon-bg {
                background-color: #271529;
                border-radius: 32px;
                height: 32px;
                width: 32px;
                display: inline-block;
            }
            .svg-inline--fa {
                font-size: 32px;
                text-align: center;
                &.fa-facebook {
                    color: #3b5998;
                }
                &.fa-pinterest {
                    color: #BD081C;
                }
                &.fa-envelope {
                    color: white;
                    padding: 7px;
                }
            }
        }
    }
    .variant-list {
        .variant-label {
            display: block;
            margin-bottom: 0.5rem;
        }
        .variant-name {
            border: 1px solid #271529;
            padding: 6px;
            margin-right: 8px;
            cursor: pointer;
            position: relative;
            min-width: 38px;
            min-height: 38px;
            font-size: 0.9rem;
            display: flex;
            align-items: center;
            justify-content: center;
            &.variant-selected {
                background-color: #271529;
                color: #fff;
            }
            &.variant-disabled {
                opacity: 0.2;
                .out-of-stock {
                    width: 51px;
                    height: 0;
                    border-bottom: 1px solid #271513;
                    transform: rotate(-45deg);
                    -webkit-transform: rotate(-45deg);
                    -ms-transform: rotate(-45deg);
                    position: absolute;
                    left: -8px;
                    top: 18px;
                }
            }
        }
        .form-check-input {
            display:none;
        }
    }
}

.is-bundle {
    .bundle-saving {
        text-transform: uppercase;
        color: #dc3545;
    }
    .bundle-composition {
        font-size: 0.9rem;
    }
    .bundle-item {
        .separator,
        .end-separator {
            border-bottom: 1px solid #271529;
            width: 90%;
            margin: 0 0.5rem;
        }
        .bundle-item-price {
            font-size: 1.1rem;
            &.separator-between-item {
                border-bottom: 1px solid #271529;
                width: 60%;
            }
        }
    }
}

.card-carousel {
    border-radius: 0.5rem;
    .card-body {
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        background: #ffffff;
        color: #212529;
        &.card-body-product {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            h6.product-name {
                font-family: "Open Sans", "Roboto", sans-serif;
                font-size: 1.3rem;
                border-left: 2px solid #271529;
                padding-left: 1rem;
                a {
                    color: #212529;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        .option-value {
            font-family: "Open Sans", "Roboto", sans-serif;
            font-size: 1.1rem;
            position: relative;
            color: #ffffff;
        }
        span.product-price {
            font-family: "Open Sans", "Roboto", sans-serif;
            font-size: 1.2rem;
            color: #ffffff;
        }
        label {
            color: #ffffff;
        }
    }
    .card-img-top {
        position: relative;
        img {
            width: 100%;
        }
        .variants-container {
            position: absolute;
            width: calc(100% - 2rem);
            bottom: 1rem;
            left: 1rem;
            background: rgba(255,255,255, 0.75);
            height: 6rem;
            div {
                height: 6rem;
                .option-value {
                    border: 1px solid #271513;
                    padding: 5px;
                    color: #271513;
                    text-align: center;
                    font-size: 1.2rem;
                    position: relative;
                    min-width: 50px;
                    min-height: 50px;
                    &.option-disabled {
                        opacity: 0.2;
                    }
                    .out-of-stock {
                        border-bottom: 1px solid #271513;
                        position: absolute;
                        width: 55px;
                        transform: rotate(-45deg);
                        -webkit-transform: rotate(-45deg);
                        -ms-transform: rotate(-45deg);
                        left: -8px;
                        top: 18px;
                    }
                }
            }
        }
    }
}

.card {
    background-color: transparent;
    border-color: #271513;
    .card-body {
        label {
            color: #212529;
        }
    }
    &.category-header {
        border: none;
        border-radius: 0;
    }
    &.add-to-cart {
        border: none;
        border-top: 1px solid #271513;
        border-radius: 0;
        .card-body {
            padding: 0.5rem;
        }
    }
    &.tabs-card {
        border: none;
        .card-header {
            padding: 0;
            border-radius: 0;
            background: none;
            border: none;
            .nav-tabs {
                margin: 0;
                .nav-item {
                    text-align: left;
                    display: inline-block;
                    &.nav-link {
                        border: none;
                        border-radius: 0 !important;
                        border-bottom: 2px solid #c3c3c3;
                        padding: 0 0 0.5rem 0.5rem;
                        color: #c3c3c3;
                        &.active {
                            border-bottom: 2px solid #271529;
                            background: none;
                            color: #271529;
                        }
                    }
                }
            }
        }
        .card-body {
            padding: 0.5rem;
        }
        &.mobile {
            .nav-link {
                border-bottom: 2px solid #271529;
                position: relative;
                .svg-inline--fa {
                    position: absolute;
                    top: 17px;
                    right: 13px;
                }
                .fa-plus {
                    display: none;
                }
                .fa-minus {
                    display: block;
                }
                &.collapsed {
                    .fa-plus {
                        display: block;
                    }
                    .fa-minus {
                        display: none;
                    }
                }
            }
        }
    }
}

#completeYourStyle {
}

/*==============*/
/* PRODUCT LIST */
/*==============*/
div.taxon-header {
    position: relative;
    .taxon-header-image {
        height: 18rem;
    }
    .taxon-header-title {
        margin: 0 auto;
        color: #ffffff;
        h1, h2, h3 {
            color: #ffffff;
        }
        h1 {
            font-size: 2.3rem;
        }
        h3 {
            font-size: 1.7rem;
        }
    }
}
#taxonIndex {
    .btn {
        &:focus {
            box-shadow: none;
        }
    }
    #productsFilters,
    #productsFiltersMobile {
        a {
            &.validate-filter {
                &:hover {
                    cursor: pointer;
                    color: #ffffff;
                }
            }
        }
        .close {
            display:none;
        }
        #sizeFilter,
        #criteriaSizeMobile {
            input {
                display: none;
            }
            label {
                border: 1px solid #271513;
                padding: 3px;
                margin: 5px 3px;
                min-width: 35px;
                text-align: center;
                &.selected {
                    color: #ffffff;
                    background-color: #271513;
                }
            }
        }

        #priceFilter {
            .price-input {
                width: 50px;
            }
            .slider-handle {
                background-image: none;
                background-color: #271513;
                height: 20px;
                width: 12px;
                &.round {
                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                    border-radius: 4px;
                }
            }
            .slider-selection {
                background-image: none;
                background-color: #271513;

            }
            .slider {
                margin-top: 1rem;
                &.slider-horizontal {
                    .slider-track {
                        height: 7px;
                        margin-top: -3px;
                    }
                    .slider-handle {
                        margin-left: -7px;
                    }
                }
            }
        }
    }
}

/*==============*/
/* MODAL DESIGN */
/*==============*/
.modal {
    z-index: 9999999;
    &.reset-password {
        .modal-content {
            border: none;
            border-radius: 0;
            .modal-header {
                border: none;
                border-radius: 0;
                .modal-title {
                    font-size: 1.1rem;
                }
                .modal-subtitle {
                    font-size: 0.9rem;
                }
            }
            input {
                width: 100%;
            }
            .password-request-success {
                color: #155724;
            }
        }
    }
}

/*===========*/
/* CART PAGE */
/*===========*/
#cartPage {
    .alert {
        display: none;
    }
    .cart-items {
        border: 1px solid var(--gray);
        .card {
            border: none;
        }
        .cart-item-separator {
            width: 80%;
            height: 2px;
            border-bottom: 1px solid var(--gray);
            margin: 1rem auto;
        }
        .original-price {
            opacity: 0.5;
            position: relative;
            span {
                width: 110%;
                position: absolute;
                height: 1px;
                border: 1px solid grey;
                top: 10px;
                left: -2px;
            }
        }
        .bundle-saving {
            color: #dc3545;
            font-size: 0.8rem;
        }
    }
    .card {
        border-radius: 0;
        border: 1px solid var(--gray);
        input.qty {
            &.form-control {
                border: none;
                border-bottom: 1px solid #495057;
                width: 30%;
                padding: 0;
                display: inline-block;
                height: initial;
                &:focus {
                    box-shadow: none;
                }
            }
        }
        .reload-icon {
            width: 34px;
            height: 24px;
            padding: 0 5px;
            &:hover {
                cursor: pointer;
            }
        }
        .btn.delete-product {
            right: 5px;
            top:5px;
            z-index: 99;
        }
        &.mobile-display {
            input.qty {
                width: 50px;
            }
            .img-container {
                max-width: unset;
                width: 90px;
                margin-right: 7px;
                img {
                    max-width: unset;
                    width: 90px;
                }
            }
        }
    }
    .totals {
        border: 2px solid #271513;
        &.position-sticky {
            position: -webkit-sticky;
            top: 10px;
        }
        .input-group {
            border: 1px solid var(--gray);
            input {
                .form-control {
                    &:focus {
                        box-shadow: none;
                    }
                }
                border: none;
            }
            .input-group-text {
                background: none;
                border: none;
                &:focus {
                    box-shadow: none;
                }
            }
            &.invalid-code {
                border: 1px solid #dc3545;
            }
        }
        .coupon-error {
            color: #dc3545;
            font-size: 80%;
        }
        .promotion-amount {
            color: #dc3545;
        }
        .total-separator {
            border-bottom: 1px dashed #271513;
            height: 2px;
        }
        .subtotal-strike {
            opacity: 0.5;
            span {
                width: 120%;
                position: absolute;
                height: 1px;
                border: 1px solid grey;
                top: 7px;
                left: -5px;
            }
        }

        .svg-inline--fa {
            color: var(--gray);
        }
    }
}

/*=============*/
/* LOGIN PAGE  */
/*=============*/
#loginPage {
    margin-top: 5rem;
    margin-bottom: 10rem;
    h1 {
        border-bottom: 1px solid #271513;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
    }
    .card {
        .card-body {
            padding-bottom: 0;
        }
        border: none;
        input {
            &.form-control {
                border-radius: 0;
            }
        }
        div {
            &.form-group {
                margin-bottom: 0.5rem;
            }
        }
    }
    .form-group {
        &.form-control {
            border: none;
        }
    }
    button {
        &.btn {
            border-radius: 0;
        }
    }
    .remember-checkbox {
        margin: 0;
        .form-group {
            margin: 0;
            .form-error-icon {
                display: none !important;
            }
        }
    }
    .forgotten-password {
        .btn {
            padding: 0;
        }
    }
    .register-form {
        .invalid-feedback {
            font-size: 80%;
            color: #dc3545;
        }
    }
}

/*===============*/
/* REGISTER PAGE */
/*===============*/
#registerPage {
    margin-top: 5rem;
    margin-bottom: 10rem;
    h1 {
        border-bottom: 1px solid #271513;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
    }
    .form-group {
        margin-bottom: 0.5rem;
        .form-check {
            height: calc(1.7em + 0.75rem + 2px);
            padding: 0.375rem 0.75rem 0.375rem 1.25rem ;
            line-height: 1.7;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            border: none;
            border-radius: 0;
        }
        .form-check-label {
            &.is-invalid {
                color: #dc3545;
                label, a {
                    color: #dc3545;
                }
            }
            .required {
                color: #dc3545;
            }
        }
        label {
            margin-bottom: 0.25rem;
        }
        .required {
            .invalid-feedback {
                display: none!important;
            }
        }
        .invalid-feedback {
            .form-error-icon {
                display: none !important;
            }
        }
    }
    .label-button {
        color: #ffffff;
    }
    .form-control {
        border-radius: 0;
    }
    button {
        &.btn {
            border-radius: 0;
        }
    }
}

/*==============*/
/* ACCOUNT PAGE */
/*==============*/
#accountPage {
    margin-top: 5rem;
    margin-bottom: 10rem;
    #openAccountMenu {
        &:hover {
            cursor: pointer;
        }
    }
    .list-row {
        display: flex;
        flex-direction: row;
        a {
            &.list-group-item {
                padding: 0;
                border: none;
                border-radius: 0;
                &:not(.logout) {
                    opacity: 0.7;
                }
                &.active {
                    text-decoration: underline;
                    color: #271513;
                    background-color: inherit;
                    font-weight: 700;
                    opacity: 1;
                }
            }
        }
    }
    .additional-address {
        .title {
            border-bottom: 1px solid #271513;
            h5 {
                margin-bottom: 0.5rem;
            }
        }
        .address-list {
            .card {
                border: 1px solid #271513;
            }
        }
    }
    .address-info {
        .card {
            border: none;
            border-radius: 0;
        }
    }
    h3 {
        font-size: 1.2rem;
        text-transform: uppercase;
    }
    h5 {
        margin-bottom: 1rem;
        text-transform: uppercase;
    }
    .card {
        border: none;
        border-radius: 0;
    }
    a {
        &.verify-account {
            color: #dc3545;
            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
    .required {
        .invalid-feedback {
            display: none!important;
        }
    }
    .invalid-feedback {
        .form-error-icon {
            display: none !important;
        }
    }
    #ordersPage {
        .collapse {
            .card-header {
                border-radius: 0;
                padding: 0.5rem 1.25rem;
            }
            .card-body {
                padding: 1rem 1.25rem;
            }
            address {
                margin-bottom: 0;
            }
        }
        .table {
            th {
                color: #271513;
                font-weight: 600;
            }
            tr {
                &.collapse-tr {
                    display: none;
                    &.show {
                        display: table-row;
                    }
                }
                td {
                    vertical-align: bottom;
                    .product-img-order {
                        img {
                            padding: 0.5rem 0 !important;
                        }
                    }
                }
            }
            &.table-details {
                th, td {
                    padding: 0.25rem 0.75rem;
                }
            }
        }
        .order-item-mobile {
            border-bottom: 1px solid #271513;
            &:hover {
                cursor: pointer;
            }
            div {
                .svg-inline--fa {
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: -24px;
                    width: 20px;
                    text-align: center;
                    margin: 0 auto;
                    background-color: #fff;
                    display: none;
                }
                &.init {
                    .svg-inline--fa {
                        display: block;
                    }
                }
            }
            .order-details {
                position: relative;
                .arrow-close {
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: -24px;
                    .svg-inline--fa {
                        display: none;
                        bottom: 0;
                    }
                }
                &.show {
                    .svg-inline--fa {
                        display: block;
                    }
                }
            }
        }
    }
}

/*==========================*/
/* PRODUCT GALLERY CAROUSEL */
/*==========================*/
.product-gallery.slider-controls {
    position:absolute;
    width: 100%;
    margin: 0 auto;
    top: calc(50%);
    .div-btn {
        width: 40px;
        height: 40px;
        position: absolute;
        z-index: 9999;
        &.next {
            right: 0;
        }
        &.prev {
            left: 0;
            .slick-prev {
                left: 0;
            }
        }
        button {
            width: 40px;
            height: 40px;
            position: absolute;
            z-index: 9999;
            &.slick-next {
                right: 0;
            }
        }
        .slick-prev:before, .slick-next:before {
            font-size: 40px;
            color: #c3c3c3;
        }
    }
}

.complete-your-style.slider-controls,
.latest-products.slider-controls,
.latest-bundles.slider-controls {
    position:absolute;
    width: 100%;
    margin: 0 auto;
    top: calc(40%);
    right: 0px;
    left: 14px;
    .div-btn {
        width: 38px;
        height: 34px;
        position: absolute;
        z-index: 9999;
        &.next-btn {
            right: 15px;
        }
        &.prev-btn {
            left: 15px;
        }
        button {
            width: 38px;
            height: 34px;
            position: absolute;
            z-index: 9999;
            &.slick-prev {
                left: 25px;
                &:before {
                    font-size: 40px;
                    color: #271513;
                }
            }
            &.slick-next {
                right: 40px;
                &:before {
                    font-size: 40px;
                    color: #271513;
                }
            }
        }
    }
}

div {
    &.col.slick-slide {
        padding: 0 5px;
    }
}

/*====================================*/
/* CAROUSEL LATEST PRODUCTS / BUNDLES */
/*====================================*/
#carouselLatestProducts,
#carouselLatestBundles,
#carouselCompleteYourStyle {
    h6.product-name {
        font-family: "Open Sans", "Roboto", sans-serif;
        font-size: 1.1rem;
        a {
            color: #212529;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .product-price {
        font-size: 0.9rem;
    }
}

.homepage-title {
    a {
        color: inherit;
        &:hover {
            color: #212529;
            text-decoration: underline;
        }
    }
}

.breadcrumb-item {
    &.active, & + .breadcrumb-item::before {
        color: #212529;
    }
}

/*==========================*/
/* MEDIA QUERY MIN BEHAVIOR */
/*==========================*/
@media all and (min-width: 992px) {
	.has-megamenu{
        position: static !important;
    }
    .megamenu {
        left:0;
        right:0;
        width:100%;
        padding:20px;
    }

    .megamenu.dropdown-menu.show {
        display: block;
        position: absolute;
        top: 6px !important;
        left: 0px;
        transform: translate3d(-1px, 40px, 0px) !important;
        width: 101% !important;
        will-change: transform;
        z-index: 999999;
    }
}

@media (min-width: 1200px) {
    #navbarMainMobile,
    .screen-overlay,
    .screen-overlay.show,
    .screen-overlay-cart,
    .screen-overlay-cart.show,
    .screen-overlay-filters,
    .screen-overlay-cart.show,
    #menuButtonMain .close,
    #menuButtonMain .back {
        display:none !important;
    }

    .variant-list.col-xl-9 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .qty-product.col-xl-3 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 1440px) {
    .variant-list.col-xl-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .qty-product.col-xl-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

/*==========================*/
/* MEDIA QUERY MAX BEHAVIOR */
/*==========================*/
@media (max-width: 1600px) {
    .card-carousel {
        .card-img-top {
            .variants-container {
                div {
                    .option-value {
                        font-size: 0.8rem;
                        min-width: 35px;
                        min-height: 35px;
                        .out-of-stock {
                            width: 48px;
                            transform: rotate(-45deg);
                            -webkit-transform: rotate(-45deg);
                            -ms-transform: rotate(-45deg);
                            left: -8px;
                            top: 16px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1440px) {
}

@media (max-width: 1200px) {
    .megamenu.dropdown-menu.show {
        display: none;
    }

    #menuButtonMain {
        span {
            min-height: 40px;
            min-width: 40px;
            text-align: center;
            &.open {
                display: none;
                svg {
                    font-size: 1.1rem;
                }
            }
            &.close {
                display: inline-block;
                padding: 8px 0 4px 0;
                font-size: 1.1rem;
            }
            &.back {
                display: none;
                img {
                    width: 16px;
                    height: 16px;
                }
            }
        }
        &.show {
            .open {
                display: inline-block;
            }
            .close {
                display: none;
            }
        }

    }

    .btn-close {
        display:none;
        &.show {
            display: inline-block;
        }
    }

    .mobile-offcanvas {
        visibility: hidden;
        transform:translateX(-100%);
        border-radius:0;
        display: none;
        position: fixed;
        top: 0;
        left:0;
        height: 100%;
        z-index: 99999;
        width:35%;
        overflow-y: auto;
        overflow-x: hidden;
        transition: visibility .2s ease-in-out, transform .2s ease-in-out;
        background-color: white;
        color: #271529;
        &.show{
            visibility: visible;
            transform: translateX(0);
        }
        .navbar {
            a {
                &.nav-item {
                    font-size: 1rem;
                }
                &.nav-link {
                    padding: 0.5rem 0rem;
                }
            }
            #navbarMain {
                a {
                    text-transform: uppercase;
                    font-size: 1rem;
                    &:hover {
                        cursor: pointer;
                    }
                    &.navbarTaxonsLink {
                        position: relative;
                        img.arrow {
                            position: absolute;
                            right: 10px;
                            top: 14px;
                            width: 14px;
                        }
                    }
                }
            }
            #navbarTaxons,
            #navbarLocale,
            #navbarAccountLinks {
                display: none;
                .locale-link,
                .account-link {
                    text-transform: initial;
                    &.nav-link {
                        padding: 0.25rem 0;
                    }
                    img {
                        &.icon {
                            width: 24px;
                            height: 24px;
                        }
                    }
                }
            }
            #menuMobileLinks {
                background-color: #c3c3c3;
                position: absolute;
                bottom: 0;
                width: 100%;
                .menu-link {
                    border-bottom: 1px solid #f8f9fa;
                    a {
                        &:hover {
                            text-decoration: none;
                            cursor: pointer;
                        }
                        &.nav-link {
                            padding: 0.5rem 1rem;
                            span {
                                text-transform: initial;
                            }
                        }
                        .icon {
                            width: 24px;
                            height: 24px;
                        }
                        &.locale-link {
                            position: relative;
                            img.arrow {
                                position: absolute;
                                right: 10px;
                                top: 15px;
                                width: 14px;
                            }
                        }
                    }
                    &.locale {
                        border: none;
                    }
                }
            }
        }
    }

    header {
        .menu-icones {
            .header-dropdown {
                visibility: hidden;
                transform:translateX(100%) !important;
                border-radius:0;
                display: block;
                top: 45px !important;
                right: 0px !important;
                left: unset !important;
                height: 100%;
                max-height: initial;
                width: 35%;
                transition: visibility .2s ease-in-out, transform .2s ease-in-out;
                padding: 0.5rem;
                &.show {
                    visibility: visible;
                    transform: translateX(0) !important;
                }
                .media-body {
                    height: 150px;
                }
                #headerCartItems {
                    overflow-y: auto;
                    max-height: unset;
                }
            }
        }
    }

    .sticky-bottom {
        position:absolute;
        bottom: 3rem;
        padding-right: 2rem !important;
    }

    div.taxon-header {
        .taxon-header-image {
            height: 23rem;
        }
    }

    #productsFiltersMobile {
        .dropdown-menu {
            position: fixed !important;
            visibility: hidden;
            transform:translateX(-100%) !important;
            border-radius:0;
            display: block;
            top: 45px !important;
            left: 0px !important;
            height: 100%;
            max-height: initial;
            width: 40%;
            transition: visibility .2s ease-in-out, transform .2s ease-in-out;
            padding: 0.5rem;
            border: none;
            &.show {
                visibility: visible;
                transform: translateX(0) !important;
            }
            #filterList {
                overflow-y: auto;
                .slider {
                    width: 100%;
                }
                .has-separator {
                    border-bottom: 1px solid #271513;
                }
                .radio-container {
                    display: block;
                    position: relative;
                    cursor: pointer;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    label {
                        &:hover {
                            cursor: pointer;
                        }
                    }
                    input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                    }
                    .checkmark {
                        position: absolute;
                        top: 4px;
                        left: 0;
                        height: 15px;
                        width: 15px;
                        background-color: white;
                        border-radius: 50%;
                        border: 1px solid #271513;
                        .checked {
                            content: "";
                            position: absolute;
                            display: none;
                            top: 3px;
                            left: 3px;
                            width: 7px;
                            height: 7px;
                            border-radius: 50%;
                            background: #271513;
                        }
                    }
                    &:hover {
                        input ~ .checkmark {
                            background-color: white;
                        }
                    }
                }
            }
        }
    }

    .screen-overlay-filters {
        height: 100%;
        z-index: 30;
        position: fixed;
        top: 0;
        left: 0;
        opacity:0;
        visibility:hidden;
        background-color: rgba(34, 34, 34, 0.6);
        transition:opacity .2s linear, visibility .1s, width 1s ease-in;
        &.show {
            transition:opacity .5s ease, width 0s;
            opacity:1;
            width:100%;
            visibility:visible;
        }
    }
}

@media all and (max-width: 992px) {
    .complete-your-style.slider-controls,
    .latest-products.slider-controls,
    .latest-bundles.slider-controls {
        right: unset;
        left: unset;
        .div-btn {
            &.next-btn {
                right: 10px;
            }

            &.prev-btn {
                left: 10px;
            }
        }
    }

    div {
        &.col.slick-slide {
            padding: 0;
        }
    }

    #footerInfos {
        .input-group {
            width: 50%;
        }
    }
}

@media (max-width: 768px) {
    header {
        .logo {
            width: 190px;
            padding: 0.25rem 0;
        }
        .menu-icones {
            .header-dropdown {
                &.show {
                    visibility: visible;
                    transform: translateX(0) !important;
                }
            }
        }
    }

    div.taxon-header {
        .taxon-header-image {
            height: 18rem;
        }
        .taxon-header-title {
            h1 {
                padding-top: 5rem;
            }
        }
    }

    #resetPasswordModal {
        &.reset-password {
            .modal-dialog {
                .modal-content {
                    .modal-header {
                        .modal-title {
                            font-size: 1rem;
                        }
                        .modal-subtitle {
                            font-size: 0.7rem;
                        }
                    }
                    label,
                    button {
                        font-size: 0.8rem;
                        &.close {
                            font-size: 1.1rem;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 667px) {
    header {
        .menu-icones {
            .header-dropdown {
                width: 75%;
                .product-img-order {
                    img {
                        max-height: 125px;
                    }
                }
                .media-body {
                    height: 125px;
                }
            }
        }
    }
    .mobile-offcanvas {
        width: 60%;
    }
    #productsFiltersMobile {
        .close {
            font-size: 2.2rem;
            opacity: 0.8;
            color: white;
            position: absolute;
            right: -36px;
            top: 6px;
            display: block !important;
            &:hover {
                cursor: pointer;
            }
        }
        .dropdown-menu {
            width: 85%;
        }
    }
    #product-info {
        .sticky-top-custom {
            position: relative;
            top: auto;
            right: auto;
            margin-top: 0;
            margin: 0 !important;
            padding: 0 15px;
        }
    }
    #footerInfos {
        .input-group {
            width: 100%;
        }
    }
    #resetPasswordModal {
        &.reset-password {
            .modal-dialog {
                margin: 0;
            }
        }
    }
}
