@import '~slick-carousel/slick/slick';
@import '~slick-carousel/slick/slick-theme';

@import '../../../BootstrapTheme/assets/scss/variables';
@import './variables';

@import "~bootstrap/scss/bootstrap";

// Custom theme styles
@import "../../../BootstrapTheme/assets/scss/steps";
@import "../../../BootstrapTheme/assets/scss/custom";

// Third party components
@import '~semantic-ui-css/components/flag.min.css';
@import '~glightbox/dist/css/glightbox.min.css';
@import '../fresco/css/fresco.css';

body {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    scrollbar-color: #271513 #c3c3c3;
    background-color: #c3c3c3;
}

::-webkit-scrollbar {
    width: 11px;
}
::-webkit-scrollbar-track {
    background: #c3c3c3;
}
::-webkit-scrollbar-thumb {
    background: #271513;
}

.bg-header, .bg-footer {
    background-color: #ffffff;
}

.d-md-none .log-link {
    color: inherit;
    &:hover {
        text-decoration: underline;
        color: #271513;
    }
}
.d-md-block .log-link {
    color: #ffffff;
    &:hover {
        text-decoration: underline;
        color: #ffffff;
    }
}

a {
    color: #271513;;
    &:hover {
        text-decoration: underline;
        color: #271513;
    }
}

header {
    .navbar {
        a.nav-item {
            font-size: 1.3rem;
            font-weight: bolder;
            color: #271513;
            &:hover {
                text-decoration: underline;
                color: #271513;
            }
        }
    }

    .navbar-light {
        width: 100%;
    }

    h1.title {
        font-family: 'Bookman Old Style', 'Roboto', sans-serif;
        font-size: 3em;
        font-weight: bolder;
        a {
            color: #000000;
            text-decoration: none;
            &:hover {
                text-decoration: none;
            }
        }
    } 

    .logo {
        @include media-breakpoint-up(md) {
            width: 270px;
        }

        @include media-breakpoint-down(sm) {
            width: 280px;
        }
    }
}

footer {
    .social-media-icons {
        padding-top: 3px;
        .footer-icon {
            font-size: 1.4rem;
        }
    }
}

.footer-container {
    height: 25px;
}

.header-banner,
.footer-banner {
    background-color: #271513;

    a.banner-link, button.banner-link {
        color: #ffffff;
    }
}

div.dropdown-menu {
    .card-body,
    .card-body a {
       color: #271513;
    }
    .dropdown-item, .dropdown-item:active {
        &.active, &:active {
            background-color: #f8f9fa;
            color: #271513;
        }
    }
}

.account-btn {
    .dropdown-menu {
        .card-body {
            padding: 0;
        }
    }
}

a.log-link:hover {
    color: #ffffff;
}

.btn-link {
    color: #271513;
    &:hover {
        text-decoration: underline;
        color: #271513;
    }
}

#mainContentContainer {
    background-color: #ffffff;
    & > h1 {
        margin-left: 1rem;
        margin-right: 1rem;
    } 
}

div.main-content {
    overflow-x: hidden;
    overflow-y: auto;
    nav .breadcrumb {
        margin-top: 1rem !important;
    }
}

#footer-infos {
    font-family: 'Roboto', sans-serif;
    h5 {
        font-family: 'Bookman Old Style', 'Roboto', sans-serif;
        margin-bottom: 15px;
    }
    .row.footer-legal {
        background-color: #c3c3c3;
        .flex-row {
            .icon-footer {
                width: 64px;
                height: 64px;
            }
        }
    }
    .row.footer-links {
        .payment-mode, .delivery-mode {
            margin-bottom: 15px;
            img {
                height: 40px;
                margin: 0 10px;
            }
        }
        .delivery-mode {
            img {
                height: 48px;
                margin: 0 10px;
            }
        }
    }
}

#footerContainer {
    position: fixed;
    width: 100%;
}

.product-description {
    color: #271513;
}

.details-title {
    border-bottom: 1px solid #271529;
    margin-top: 1rem;
    padding-bottom: 0.5rem;
}

.images-container {
    .col-8 {
        padding-bottom: 0.35rem;
    }
}

#product-info {
    &.sticky-top-custom {
        /*position: fixed;
        top: 0;
        right: 15px;
        margin: 127px 15px 0 !important;
        padding: 0 15px;*/

        position: fixed;
        top: 0;
        right: 15px;
        margin: 127px 15px 0 !important;
        padding: 0 15px;
        padding-left: 18px;
        padding-right: 12px;
    }
    &.sticky-bottom {
        /*position: absolute;
        bottom: 0;
        right: 0;
        padding-left: 0;*/
        position: absolute;
        bottom: -10px;
        right: 0px;
        padding-left: 0px;
    }
    .share-dropdown {
        .fa-share-square {
            font-size: 20px;
            opacity: 0.4;
        }
        &::after {
            content: none;
        }
    }
    .share-icons {
        &.dropdown-item {
            padding: 0;
        }
        a {
            margin: 0 8px;
            font-size: 20px;
            &:hover {
                cursor:pointer;
            }
            .svg-inline--fa {
                font-size: 32px;
                text-align: center;
                &.fa-facebook {
                    color: #3b5998;
                }
                &.fa-pinterest {
                    color: #BD081C;
                }
            }
        }
    }
    .variant-list {
        .variant-label {
            display: block;
            margin-bottom: 0.5rem;
        }
        .variant-name {
            border: 1px solid #271529;
            padding: 6px 16px;
            margin-right: 6px;
            cursor: pointer;
            position: relative;
            &.variant-selected {
                background-color: #271529;
                color: #fff;
            }
            &.variant-disabled {
                opacity: 0.2;
                .out-of-stock {
                    width: 57px;
                    height: 0px;
                    border-bottom: 1px solid #271513;
                    transform: translateY(20px) translateX(5px) rotate(-37deg);
                    -webkit-transform: translateY(20px) translateX(5px) rotate(-37deg);
                    -ms-transform: translateY(20px) translateX(5px) rotate(-37deg);
                    position: absolute;
                    top: -3px;
                    left: -11px;
                    &.s, &.l {
                        width: 54px;
                        transform: translateY(20px) translateX(5px) rotate(-41deg);
                        -webkit-transform: translateY(20px) translateX(5px) rotate(-41deg);
                        -ms-transform: translateY(20px) translateX(5px) rotate(-41deg);
                        left: -12px;

                    }
                    &.xl {
                        width: 60px;
                        transform: translateY(21px) translateX(5px) rotate(-36deg);
                        -webkit-transform: translateY(21px) translateX(5px) rotate(-36deg);
                        -ms-transform: translateY(21px) translateX(5px) rotate(-36deg);
                    }
                    &.xxl {
                        width: 68px;
                        transform: translateY(20px) translateX(5px) rotate(-31deg);
                        -webkit-transform: translateY(20px) translateX(5px) rotate(-31deg);
                        -ms-transform: translateY(20px) translateX(5px) rotate(-31deg);
                        left: -10px;
                    }
                }
            }
        }
        .form-check-input {
            display:none;
        }
    }
}

.card {
    background-color: transparent;
    border-color: #271513;
    .card-body {
        label {
            color: #212529;
        }
        .btn-primary {
            background-color: #271513;
            color: #ffffff;
            border-color: #271513;
        }
    }
    &.category-header {
        border: none;
        border-bottom: 1px solid #271513;
        border-radius: 0;
    }
    &.add-to-cart {
        border: none;
        border-top: 1px solid #271513;
        border-radius: 0;
        .card-body {
            padding: 0.5rem;
        }
    }
    &.tabs-card {
        border: none;
        .card-header {
            padding: 0;
            border-radius: 0;
            background: none;
            border: none;
            .nav-tabs {
                margin: 0;
                .nav-item {
                    text-align: left;
                    display: inline-block;
                    &.nav-link {
                        border: none;
                        border-radius: 0 !important;
                        border-bottom: 2px solid #c3c3c3;
                        padding: 0 0 0.5rem 0.5rem;
                        color: #c3c3c3;
                        &.active {
                            border-bottom: 2px solid #271529;
                            background: none;
                            color: #271529;
                        }
                    }
                }
            }
        }
        .card-body {
            padding: 0.5rem;
        }
        &.mobile {
            .nav-link {
                border-bottom: 2px solid #271529;
                position: relative;
                .svg-inline--fa {
                    position: absolute;
                    top: 17px;
                    right: 13px;
                }
                .fa-plus {
                    display: none;
                }
                .fa-minus {
                    display: block;
                }
                &.collapsed {
                    .fa-plus {
                        display: block;
                    }
                    .fa-minus {
                        display: none;
                    }
                }
            }
        }
    }
}



.card-carousel {
    border-radius: 0.5rem;
    .card-body {
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        background: #ffffff;
        color: #212529;
        &.card-body-product {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            h6.product-name {
                font-family: "Bookman Old Style", "Open Sans", sans-serif;
                font-size: 1.3rem;
                border-left: 2px solid #271529;
                padding-left: 1rem;
                a {
                    color: #212529;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        .option-value {
            font-family: "Bookman Old Style", "Open Sans", sans-serif;
            font-size: 1.1rem;
            position: relative;
            color: #ffffff;
        }
        span.product-price {
            font-family: "Roboto", "Open Sans", sans-serif;
            font-size: 1.2rem;
            color: #ffffff;
        }
        label {
            color: #ffffff;
        }
    }
    .card-img-top {
        position: relative;
        img {
            width: 100%;
        }
        .variants-container {
            
            /*&.flex-sm-column {
                position: absolute;
                top: 17%;
                right: 10%;

                .option-value {
                    border: 1px solid #271513;
                    padding: 1px 5px;
                    color: #271513;
                    text-align: center;
                    font-size: 0.8rem;
                    position: relative;
                    .out-of-stock {
                        &.s, &.m, &.l, &.xs, &.xl {
                            width: 34px;
                            height: 0px;
                            border-bottom: 1px solid #271513;
                            transform: translateY(20px) translateX(5px) rotate(-41deg);
                            -webkit-transform: translateY(20px) translateX(5px) rotate(-41deg);
                            position: absolute;
                            top: -9px;
                            left: -9px;
                        }
                        &.xxl {
                            width: 41px;
                            height: 0px;
                            border-bottom: 1px solid #271513;
                            transform: translateY(20px) translateX(5px) rotate(-26deg);
                            -webkit-transform: translateY(20px) translateX(5px) rotate(-35deg);
                            position: absolute;
                            top: -9px;
                            left: -9px;
                        }
                    }
                }
            }*/
 
            position: absolute;
            width: calc(100% - 2rem);
            bottom: 1rem;
            left: 1rem;
            background: rgba(255,255,255, 0.75);
            .option-value {
                border: 1px solid #271513;
                padding: 1px 5px;
                color: #271513;
                text-align: center;
                font-size: 0.8rem;
                position: relative;
                &.option-disabled {
                    opacity: 0.2;
                }
                .out-of-stock {
                    width: 32px;
                    border-bottom: 1px solid #271513;
                    position: absolute;
                    transform: translateY(20px) translateX(5px) rotate(-46deg);
                    -webkit-transform: translateY(20px) translateX(5px) rotate(-46deg);
                    -ms-transform: translateY(20px) translateX(5px) rotate(-46deg);
                    top: -9px;
                    left: -10px;
                    &.s, &.l {
                        width: 31px;
                        transform: translateY(20px) translateX(5px) rotate(-53deg);
                        -webkit-transform: translateY(20px) translateX(5px) rotate(-53deg);
                        -ms-transform: translateY(20px) translateX(5px) rotate(-53deg);
                        left: -12px;
                    }
                    &.xs, &.xl {
                        width: 35px;
                        transform: translateY(20px) translateX(5px) rotate(-42deg);
                        -webkit-transform: translateY(20px) translateX(5px) rotate(-42deg);
                        -ms-transform: translateY(20px) translateX(5px) rotate(-42deg);
                    }
                    &.xxl {
                        width: 41px;
                        transform: translateY(20px) translateX(5px) rotate(-34deg);
                        -webkit-transform: translateY(20px) translateX(5px) rotate(-34deg);
                        -ms-transform: translateY(20px) translateX(5px) rotate(-34deg);
                        left: -9px;
                    }
                }
            }
            
        }
    }
}

/**
* PRODUCT GALLERY CAROUSEL
*/ 
.product-gallery.slider-controls {
    position:absolute;
    width: 100%;
    margin: 0 auto;
    top: calc(50%);
    .div-btn {
        width: 40px;
        height: 40px;
        position: absolute;
        z-index: 9999;
        &.next {
            right: 0;
        }
        button {
            width: 40px;
            height: 40px;
            position: absolute;
            z-index: 9999;
            &.slick-next {
                right: 0;
            }
        }
        .slick-prev:before, .slick-next:before {
            font-size: 40px;
            color: #c3c3c3;
        }
    }
}

#carouselLatestProducts, #carouselLatestBundles {
    h6.product-name {
        font-family: "Bookman Old Style", "Open Sans", sans-serif;
        font-size: 1.1rem;
        a {
            color: #212529;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .product-price {
        font-size: 0.9rem;
    }
}

.homepage-title {
    a {
        color: inherit;
        &:hover {
            color: #212529;
            text-decoration: underline;
        }
    }
}

.breadcrumb-item {
    &.active, & + .breadcrumb-item::before {
        color: #212529;
    }
}

div.col.slick-slide {
    padding:0 5px;
}

.slider-controls {
    position: relative;
    .div-btn {

        .slick-prev,
        .slick-next {
            position: initial;
            background: transparent;
            &:hover, &:focus {
                background: transparent;
            }
            &:before {
                font-size: 20px;
                color: black;
            }
            left: unset;
            right: unset;
        }
    }
}

@media (max-width: 768px) {
    #product-info {
        &.sticky-top-custom {
            position: relative;
            top: auto;
            right: auto;
            margin-top: 0;
            margin: 0 !important;
            padding: 0 15px;
        }
        &.sticky-bottom {
            position: relative;
            top: auto;
            bottom: auto;
            right: auto;
            margin-top: 0;
            padding: 0 15px;
        }
    }
}