{% extends '@SyliusShop/layout.html.twig' %}

{% block top %}
    {# Clear the topmost section. We do not want it in the checkout. #}
{% endblock %}

{% block header %}
    <div id="headerContainer" class="bg-header">
        <div class="container-fluid">
            <header class="mb-lg-1">
                {% include '@SyliusShop/_header.html.twig' %}

                {{ sonata_block_render_event('sylius.shop.layout.after_header') }}
            </header>
        </div>
        <div class="header-banner"></div>
    </div>
{% endblock %}
