{% import '@SyliusShop/Common/Macro/headers.html.twig' as headers %}

<div class="d-flex flex-column">
    <span><strong>Noblezz</strong></span>
    <div class="w-100 d-flex flex-row justify-content-between">
        {{ headers.default(product.name) }}

        <div class="{% if isProductBundle %}d-none{% else %}d-none d-lg-block{% endif %}">
            {% if not product.variants.empty() %}
                {% include '@SyliusShop/Product/Show/_price.html.twig' %}
            {% endif %}
            {{ sonata_block_render_event('sylius.shop.product.show.after_price', {'product': product}) }}
        </div>
    </div>
</div>
