{% import '@SyliusShop/Common/Macro/headers.html.twig' as headers %}

{% set currentUrl = app.request.uri %}
{% set subject = product.name ~ " - Noblezz Shop" %}
{% if product.imagesByType('thumbnail') is not empty %}
    {% set image = product.imagesByType('thumbnail').first.path | imagine_filter(filter | default('sylius_shop_product_original')) %}
{% elseif product.images.first %}
    {% set image = product.images.first.path | imagine_filter(filter | default('sylius_shop_product_original')) %}
{% else %}
    {% set image = '//placehold.it/400x600' %}
{% endif %}

<div class="d-flex">
    <div class="w-100">
        {{ headers.default(product.name) }}
    </div>
    {% include '@SyliusShop/Product/Show/share.html.twig' %}
</div>
