{% if complete_your_style_products|length > 0 %}
    <h3 class="col-12 col-lg-10 mx-auto mb-2 ml-2 pl-4 text-uppercase font-weight-bold text-center"><span class="px-3">{{ 'sylius.ui.complete_your_style'|trans }}</span></h3>

    <div class="mb-5 m-0 m-sm-2 p-sm-2 position-relative">
        <div id="carouselCompleteYourStyle" class="m-0 col-12 col-lg-10 mx-auto">
            {% for index, product in complete_your_style_products %}
                <div class="col">
                    {% include '@SyliusShop/Product/_box.html.twig' %}
                </div>
            {% endfor %}
        </div>
        <div class="row justify-content-center slider-controls complete-your-style col-12 col-lg-10"></div>
    </div>
{% endif %}
